interface I_${fsmName};
#foreach ($variable in $variables)
#if (${variable.getDirection()} == "INPUT")    method Action in_${variable.getName()}(${variable.getDataType()} p_${variable.getName()}); ${nl}#end
#if (${variable.getDirection()} == "OUTPUT")    method ${variable.getDataType()} out_${variable.getName()}(); ${nl}#end
#end
endinterface: I_${fsmName}
